
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full screen background */
body {
  height: 100vh;
  background-image: linear-gradient(#D8C7FF, #19006C);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
